<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preshine.img.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.preshine.img.entity.User">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="address" property="address" />
        <result column="createTime" property="createTime" />
        <result column="is_delete" property="isDelete" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="getUserPage" resultType="map">
       select u.id as uid, u.user_account as userAccount, u.user_name as userName, u.mobile, u.email,
        u.sex, u.age, u.address, u.remark, t.roleIds, t.roleNames
       from user u
       left join (select ur.user_account, GROUP_CONCAT(role_id) as roleIds, GROUP_CONCAT(r.name) as roleNames
       from user_role ur
       left join role r on ur.role_id = r.id
       group by ur.user_account) t on t.user_account = u.user_account
       where u.is_delete = 0
    </select>

</mapper>
