<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preshine.img.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.preshine.img.entity.User">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="address" property="address" />
        <result column="createTime" property="createTime" />
        <result column="is_delete" property="isDelete" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="getUserPage" resultType="map">
       select u.id, u.avatar, u.user_account as userAccount, u.user_name as userName, u.mobile, u.email,
        u.sex, u.age, u.address, u.real_name as realName, u.createTime, u.remark, t.roleIds, t.roleNames
       from user u
       left join (select ur.user_account, GROUP_CONCAT(role_id) as roleIds, GROUP_CONCAT(r.name) as roleNames
       from user_role ur
       left join role r on ur.role_id = r.id
       group by ur.user_account) t on t.user_account = u.id
       where u.is_delete = 0
        <if test="userName != null and userName != ''">
            and u.user_name like "%"#{userName}"%"
        </if>
        <if test="mobile != null and mobile != ''">
            and u.mobile like "%"#{mobile}"%"
        </if>
        <if test="email != null and email != ''">
            and u.email like "%"#{email}"%"
        </if>
        <if test="realName != null and realName != ''">
            and u.real_name like "%"#{realName}"%"
        </if>
        <if test="sex != null and sex != '' or 0 == sex">
            and u.sex = #{sex}
        </if>
        order by
        <choose>
            <when test="sorterField != null and sorterField != ''">
                    ${sorterField}
                    ${sorterOrder}
            </when>
            <otherwise>
                u.id asc
            </otherwise>
        </choose>
    </select>

    <select id="getUsersByRole" resultType="map">
        select u.id, u.avatar, u.user_account as userAccount, u.user_name as userName, u.mobile, u.email,
        u.sex, u.age, u.address, u.remark, u.createTime
        from user u
        where u.is_delete = 0
        <if test="userAccounts != null and  userAccounts.size > 0">
            and u.user_account in
            <foreach item="item" index="index" collection="userAccounts"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="userName != null and userName != '' and mobile != null and mobile != ''">
                and (u.user_name like "%"#{userName}"%" or u.mobile like "%"#{mobile}"%")
            </when>
            <otherwise>
                <if test="userName != null and userName != ''">
                    and u.user_name like "%"#{userName}"%"
                </if>
                <if test="mobile != null and mobile != ''">
                    and u.mobile like "%"#{mobile}"%"
                </if>
            </otherwise>
        </choose>

    </select>

</mapper>
